SPACK_ASSETS_ROOT=
SPACK_ASSETS_PATH=/
SPACK_ASSETS_FALLBACK_TARGET=index.html
SPACK_COMPRESSION_ENABLE=true
SPACK_COMPRESSION_MODE=lazy
SPACK_COMPRESSION_MIN_SIZE=1024
SPACK_COMPRESSION_QUEUE_SIZE=128
SPACK_COMPRESSION_CLEANUP_EVERY=5m
SPACK_COMPRESSION_MAX_AGE=168h
SPACK_COMPRESSION_IMAGE_MAX_AGE=336h
SPACK_COMPRESSION_ENCODING_MAX_AGE=168h
SPACK_COMPRESSION_MAX_CACHE_BYTES=1073741824
SPACK_IMAGE_ENABLE=true
SPACK_IMAGE_WIDTHS=640,1280,1920
SPACK_IMAGE_JPEG_QUALITY=78
